* {
	box-sizing: border-box;
}
.patten1{
    background-color: #4bb0b8;
    background-size: 100px 100px;
    background-image: radial-gradient(#347a23 15%,transparent 15%), linear-gradient(45deg, transparent 48%,#bfdece
        );
    }

.patten2{
 background-color: palevioletred;
 background-size: 100px 100px;
 background-image:radial-gradient(#232c26 10%, transparent 40%), linear-gradient(90deg, transparent 40%,#bfdece);
}

.patten3{
    padding: 0px;
    margin: 10px;
    height: 100vh;
    background-image:repeating-linear-gradient(20deg, yellow, red 20%
    );
}
body{

	font-family: sans-serif;
	line-height: 1.5em;
	background:white;
	font-size: 1em;
}

h1{
	margin: 20px;
	font-size: 3em;
	font-style: bold;
}

.main{
	width: 80%;
	margin: 100px auto;
	padding: 50px;
}


ul{
	list-style: none;
}
 
ul li{
	color: #dadada;
}

a:link{
	color: #0000ff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


